<html>
	<head>
		<title>My App </title>
		<script
		  src="http://code.jquery.com/jquery-1.12.4.min.js"
			<link href="signup-style.css" rel="stylesheet" type="text/css">
		  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		  crossorigin="anonymous"></script>
			<link rel='stylesheet' type='text/css' href='/css/main.css' />
	</head>
		<body>
